@use '../config/variables.scss' as vars;
@use '../config/function.scss' as func;
@use 'sass:color';

.button {
	padding: func.remize(3) func.remize(4);
	border-radius: func.remize(1);
	font-family: vars.$font;
	font-weight: 700;
	border: none;
	cursor: pointer;
	
	&--primary {
		background-color: vars.$purplish-blue;
		color: vars.$white;

		&:hover {
			background-color: color.adjust(vars.$purplish-blue, $lightness: 10%);
		}
	}

	&--secondary {
		background-color: vars.$marine-blue;
		color: vars.$white;

		&:hover {
			background-color: color.adjust(vars.$purplish-blue, $lightness: -40%, $alpha: -0.2);
		}
	}

	&--tertiary {
		background: transparent;
		color: vars.$cool-gray;

		&:hover {
			color: vars.$marine-blue;
		}
	}
}