@use '../config/variables.scss' as vars;
@use '../config/function.scss' as func;

.detail-container {
	display: flex;
	flex-direction: column;
	gap: func.remize(2);
	padding: func.remize(4);
	border-radius: func.remize(2);
	background-color: vars.$magnolia;
}

.detail-line {
	width: 100%;
	border: none;
	border-bottom: 1px solid vars.$light-gray;
}

.detail-plan {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__description {
		display: flex;
		flex-direction: column;
		gap: func.remize(2);
	}

	&__name {
		text-transform: capitalize;
		font-weight: 700;
	}

	&__button {
		text-decoration: underline;
		color: vars.$cool-gray;
		cursor: pointer;
		font-size: func.remize(3.5);
	}

	&__price {
		font-weight: 700;
		color: vars.$marine-blue;
	}
}

.detail-addon {
	display: flex;
	flex-direction: column;
	gap: func.remize(4);

	&__item {
		display: flex;
		justify-content: space-between;
		font-size: func.remize(3.5);

		&-name {
			text-transform: capitalize;
		}

		&-price {
			color: vars.$marine-blue;
		}
	}
}

.total-container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: func.remize(4);
}

.total-description {
	font-size: func.remize(3.5);
	color: vars.$cool-gray;
}

.total-price {
	font-size: func.remize(5);
	font-weight: 700;
	color: vars.$purplish-blue;
}