@use '../config/variables.scss' as vars;
@use '../config/function.scss' as func;

.input__container {
	display: flex;
	flex-direction: column;
}

.input__label {
	display: flex;
	justify-content: space-between;
	font-size: func.remize(3);
	padding-bottom: func.remize(2);
}

.input__message {
	display: none;
	color: vars.$strawberry-red;
	font-weight: 700;

	&--invalid {
		display: inline-block;
	}
}

.input__field {
	display: block;
	padding: func.remize(3) func.remize(4);
	border: 1px solid;
	border-color: vars.$light-gray;
	border-radius: func.remize(2);
	font-family: vars.$font;
	font-size: func.remize(4);
	color: vars.$marine-blue;

	&::placeholder {
		color: vars.$cool-gray;
	}

	&:focus {
		outline: none;
		border-color: vars.$purplish-blue;
	}

	&--invalid {
		border-color: vars.$strawberry-red;
	}
}