@use '../config/variables.scss' as vars;
@use '../config/function.scss' as func;

.multi-select__container {
	display: flex;
	flex-direction: row;
	gap: func.remize(4);
	align-items: center;
	padding: func.remize(4);
	border: 1px solid vars.$light-gray;
	border-radius: func.remize(2);

	&:hover {
		border-color: vars.$purplish-blue;
		cursor: pointer;
	}

	&:has(.multi-select__input:checked) {
		border-color: vars.$purplish-blue;
		background-color: vars.$magnolia;
	}
}

.multi-select__input {
	display: none;
}

.multi-select__icon {
	width: func.remize(4);
	height: func.remize(4);
	background-color: transparent;
	margin: func.remize(1);
	padding: func.remize(0.5);
	border: 1px solid vars.$light-gray;
	border-radius: func.remize(1);

	&-image {
		width: func.remize(4);
		height: func.remize(4);
		visibility: hidden;
	}

	.multi-select__input:checked ~ & {
		background-color: vars.$purplish-blue;
	}

	.multi-select__input:checked ~ & &-image {
		visibility: visible;
	}
}

.multi-select__label {
	display: flex;
	flex-direction: column;
	gap: func.remize(2);
	flex-grow: 1;
	user-select: none;

	&-title {
		color: vars.$marine-blue;
		font-weight: 700;
	}
	&-description {
		color: vars.$cool-gray;
		font-size: func.remize(3.5);
	}
}

.multi-select__price {
	color: vars.$purplish-blue;
}