@use '../config/variables.scss' as vars;
@use '../config/function.scss' as func;
@use '../config/mixin.scss';

.single-select__container {
	display: flex;
	flex-direction: row;
	gap: func.remize(4);
	padding: func.remize(4);
	border: 1px solid vars.$light-gray;
	border-radius: func.remize(2);

	&:hover {
		border-color: vars.$purplish-blue;
		cursor: pointer;
	}

	&:has(.single-select__input:checked) {
		border-color: vars.$purplish-blue;
		background-color: vars.$magnolia;
	}
}

.single-select__input {
	display: none;
}

.single-select__icon {
	width: func.remize(10);
	height: func.remize(10);
}

.single-select__label {
	display: flex;
	flex-direction: column;
	gap: func.remize(2);
	flex-grow: 1;
	user-select: none;
	
	&-title {
		color: vars.$marine-blue;
		font-weight: 700;
	}
	&-description {
		color: vars.$cool-gray;
		font-size: func.remize(3.5);
	}
	&-note {
		color: vars.$marine-blue;
		font-size: func.remize(3.5);
	}
}

@include mixin.desktop {
	.single-select__container {
		flex-direction: column;
		gap: func.remize(10);
		width: func.remize(25);
	}
}