@use '../config/variables.scss' as vars;
@use '../config/function.scss' as func;

.switch__container {
	display: flex;
	flex-direction: row;
	gap: func.remize(4);
	align-items: center;
	padding: func.remize(4);
	justify-content: center;
	align-items: center;
}

.switch__input {
	display: none;
}

.switch__label {
	display: flex;
	flex-direction: row;
	gap: func.remize(4);
	font-weight: 700;

	.switch__input:not(:checked) ~ & & {
		&-left {
			color: vars.$marine-blue;
		}
		&-right {
			color: vars.$cool-gray;
		}
	}

	.switch__input:checked ~ & & {
		&-left {
			color: vars.$cool-gray;
		}
		&-right {
			color: vars.$marine-blue;
		}
	}
}

.switch__button {
	&-track {
		display: block;
		width: func.remize(8);
		height: func.remize(4);
		background-color: vars.$marine-blue;
		border-radius: func.remize(4);
		position: relative;
	}

	&-thumb {
		display: block;
		width: func.remize(3);
		height: func.remize(3);
		background-color: vars.$white;
		border-radius: func.remize(3);
		position: absolute;
		top: func.remize(0.5);
		transition: left 300ms ease-in-out;
		
		.switch__input:not(:checked) ~ .switch__label & {
			left: func.remize(0.5);
		}

		.switch__input:checked ~ .switch__label & {
			left: func.remize(4.5);
		}
	}
}