@use '../config/variables.scss' as vars;
@use '../config/function.scss' as func;

.thankyou__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: func.remize(4);
	padding: func.remize(16) func.remize(4);

	& h1 {
		text-align: center;
	}

	& p {
		text-align: center;
		line-height: 1.5;
	}
}

.thankyou__icon {
	width: func.remize(20);
	height: func.remize(20);
}