@use '../config/variables.scss' as vars;
@use '../config/function.scss' as func;
@use '../config/mixin.scss';

#root {
	width: 100%;
}

.main-container {
	background-color: vars.$white;
	width: 100%;
	height: 100%;
}

.main-form__container {
	padding: 0;
}

@include mixin.desktop {
	#root {
		height: 100vh;
		background-color: vars.$magnolia;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.main-container {
		display: inline-flex;
		flex-direction: row;
		gap: func.remize(4);
		padding: func.remize(4);
		background-color: vars.$white;
		border-radius: func.remize(4);
		width: auto;
		height: auto;
		box-shadow:
			0px 10.2px 13.4px -3px rgba(150, 153, 171, 0.15),
			0px 50px 66px -3px rgba(214, 217, 230, 0.075);
	}

	.main-form__container {
		width: func.remize(120);
		padding: 0 func.remize(4);
	}
}