@use '../config/variables.scss' as vars;
@use '../config/function.scss' as func;
@use '../config/mixin.scss';

.option-layout {
	display: flex;
	gap: func.remize(5);

	&--desktop {
		&-row {
			flex-direction: column;
		}

		&-column {
			flex-direction: column;
		}
	}
}

@include mixin.desktop {
	.option-layout--desktop {
		&-row {
			flex-direction: row;
			gap: 0;
			justify-content: space-between;
		}

		&-column {
			flex-direction: column;
		}
	}
}