@use '../config/variables.scss' as vars;
@use '../config/function.scss' as func;
@use '../config/mixin.scss';

.sidebar-menu__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: func.remize(6);
	padding: func.remize(8);
	background: url('/src/assets/images/bg-sidebar-mobile.svg') no-repeat top / cover;
	height: 100px;
}

.sidebar-menu__item {
	display: flex;
	flex-direction: row;
	gap: func.remize(4);
	justify-content: start;
	align-items: flex-start;

	&-marker {
		border: 1px solid vars.$magnolia;
		border-radius: func.remize(6);
		padding: func.remize(2);
		color: vars.$white;

		& span {
			display: block;
			width: func.remize(4);
			height: func.remize(4);
			text-align: center;
		}

		&--active {
			background-color: vars.$magnolia;
			color: vars.$marine-blue;
		}
	}

	&-description {
		display: none;
	}

	&-name {
		font-size: func.remize(3.5);
		color: vars.$pastel-blue;
	}

	&-title {
		font-weight: 700;
		color: vars.$white;
		letter-spacing: func.remize(0.5);
	}
}

@include mixin.desktop {
	.sidebar-menu__container {
		flex-direction: column;
		justify-content: flex-start;
		background: url('/src/assets/images/bg-sidebar-desktop.svg') no-repeat bottom;
		height: calc(568px - func.remize(16));
		width: calc(274px - func.remize(16));
		border-radius: func.remize(2);
	}

	.sidebar-menu__item {
		&-description {
			display: flex;
			flex-direction: column;
			gap: func.remize(2);
			text-transform: uppercase;
		}
	}
}