@use '../config/variables.scss' as vars;
@use '../config/function.scss' as func;
@use '../config/mixin.scss';

.form-layout__container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.form-layout__step {
	&-container {
		background-color: vars.$magnolia;
		padding: func.remize(4);
		flex-grow: 1;
	}

	&-form {
		display: flex;
		flex-direction: column;
		gap: func.remize(4);
		padding: func.remize(4);
		border-radius: func.remize(4);
		background-color: vars.$white;
		box-shadow:
			0px 10.2px 13.4px -3px rgba(150, 153, 171, 0.15),
			0px 50px 66px -3px rgba(214, 217, 230, 0.075);
		position: relative;
		top: func.remize(-20);
	}
}

.form-layout__button-container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	padding: func.remize(4);
}

@include mixin.desktop {
	.form-layout__step {
		&-container {
			background-color: vars.$white;
			padding: 0;
			flex-grow: 1;
		}
	
		&-form {
			border-radius: 0;
			box-shadow: none;
			position: static;
		}
	}
}