@use '../config/variables.scss' as vars;
@use '../config/function.scss' as func;

@font-face {
	font-family: 'Ubuntu';
	src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/fonts/Ubuntu-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/fonts/Ubuntu-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

body {
	font-family: vars.$font;
	font-size: 16px;
	color: vars.$marine-blue;
}

h1 {
	font-size: func.remize(8);
	font-weight: 700;
}

p {
	color: vars.$cool-gray;
}

.attribution {
	padding: func.remize(2);
	background-color: vars.$light-blue;
	font-size: 12px;
	text-align: center;
	color: vars.$marine-blue;
}

.attribution a {
	color: vars.$purplish-blue;
	text-decoration: none;
}